:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Playfair Display", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  background-color: #012d63;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.flex {
  height: 93px;
  justify-content: start;
}
.header-logo {
  margin-left: 168px;
}

.header-navigaion {
  margin-left: 152px;
}

.header-list.flex {
  padding: 0;
  gap: 29px;
}

.header-list-title {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #c7c7c7;
}

.header-list-title:hover {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
.active {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

/* MAIN */

.boots {
  height: 858px;
  background-image: url("../src/images/main/backFoots.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.boots-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 94px;
  margin-left: 170px;
}

.boots-logo {
  width: 160px;
  height: 120px;
}

.boots-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  padding-left: 25px;
}

.boots-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 144px;
  margin-left: 156px;
}

.boots-content {
  margin-left: 164px;
}

.boots-name {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 72px;
  margin-bottom: 12px;
}

.boots-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  width: 508px;
  margin-bottom: 41px;
}

.btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  border-radius: 10px;
  width: 254px;
  height: 67px;
  border: none;
  cursor: pointer;
  background: #8e32c6;
  transition: background 0.5s ease-in-out;
}

.btn:hover {
  background: #9700f6;
}

/* SECTION spray */

.spray {
  height: 606px;
  background-image: url("../src/images/main/backSpray.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 105px 165px;
}

.spray-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  border: 5px solid #8e32c6;
}

.spray-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 349px;
}

.spray-list-item:nth-child(1):after,
.spray-list-item:nth-child(2):after {
  content: "";
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #fff;
  margin-right: -50px;
}

.spray-list-item:nth-child(2):after {
  margin-right: -95px;
}

.spray-list-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  width: 161px;
}

/* section reviews */

.reviews {
  height: 520px;
  background-image: url("../src/images/main/backReviewsFlowers.png"),
    url("../src/images/main/backReviews.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.reviews-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 24px;
}

.reviews-list.flex {
  flex-direction: column;
}

.reviews-list-item {
  width: 255px;
  height: 292px;
  border-radius: 15px;
  padding: 49px 13px 29px 13px;
}

.one {
  box-shadow: 0 30px 0 -13px #533978, 0 14px 0 -5px #7b54b2;
  background: linear-gradient(
    135deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
}

.reviews-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 8px;
}

.reviews-date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #d8d8d8;
}

.reviews-discriptions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 47px;
}

.reviews-discriptions > div {
  margin-left: 5px;
}

.reviews-discriptions h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
}

.reviews-discriptions p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #d8d8d8;
}
